@import url(//fonts.googleapis.com/css?family=Press+Start+2P);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30rem;
    border: 8px solid rgb(119, 113, 113);
    box-shadow: 20px 20px 0px 0px rgb(0 0 0 / 0.2);
    padding: 0.5rem 0.5rem;
}

.icon {
    width: 90%;
}

.title {
    font-family: 'Press Start 2P';
    color: white;
    margin-top: -0.3rem;
    font-size: 1.25rem;
}

.description {
    font-family: 'Press Start 2P';
    color: white;
    font-size: 0.75rem;
    margin: auto;
}