.nftcard-container {
    width: 10rem;
    height: 9rem;
    margin: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 5px solid #da864e;
}

.nftcard-container:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.nftcard-image {
    width: 100%;
    height: 100%;
}